/*------- Calendar Widget -------*/
#wp-calendar
{
	width: 300px;
}
#wp-calendar TD
{
	background: #D2CAC9;
	text-align: center;
}
#wp-calendar #prev
{
	background: #D2CAC9;
	text-align: center;
}
#wp-calendar #next
{
	background: #D2CAC9;
	text-align: center;
}
/*------- Social Media -------*/
#socialmedia
{
	clear: both;
	width: 200px;
	background: #008000;
	z-index: 20;
}
#socialmedia UL LI
{
	float: left;
}
.sociable
{
	clear: both;
}
.sociable UL LI
{
	clear: none;
}
/*------- Socialble-------*/
DIV.sociable
{
}
SPAN.sociable_tagline
{
	position: relative;
}
SPAN.sociable_tagline SPAN
{
	display: none;
	width: 14em;
}
SPAN.sociable_tagline:hover SPAN
{
	position: absolute;
	display: block;
	top: -5em;
	background: #FFE;
	border: 1px solid #CCC;
	color: #000000;
	line-height: 1.25em;
}
.sociable SPAN
{
	display: block;
}
.sociable UL
{
	display: inline;
	margin: 0 !important;
	padding: 0 !important;
}
.sociable UL LI
{
	background: none;
	display: inline !important;
	list-style-type: none;
	margin: 0;
	padding: 1px;
}
.sociable UL LI:before
{
	content: "";
}
.sociable IMG
{
	float: none;
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0;
	padding: 0;
}
.sociable-hovers
{
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
}
.sociable-hovers:hover
{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
/*------- Bread Crumbs -------*/
#breadcrumbs
{
	background: #F0F0F0;
	display: block;
	padding: 5px 0 5px 10px;
}
/*------- Wordpress Page Numbers Plugin Stylin -------*/
#wp_page_numbers UL, #wp_page_numbers LI, #wp_page_numbers A
{
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
}
#wp_page_numbers
{
	margin-top: 10px;
	width: 100%;
	background: #F1F1F1;
	/*[disabled]border:1px solid #BFBFBF;*/
	padding: 0.25em 0;
}
#wp_page_numbers UL
{
	width: 100%;
}
#wp_page_numbers LI
{
	float: left;
	display: block;
}
#wp_page_numbers A
{
	padding: 2px;
	margin-left: 3px;
	margin-right: 3px;
	display: block;
	color: #333;
}
#wp_page_numbers LI A:hover
{
	border-color: #999;
	font-weight: 800;
}
#wp_page_numbers LI.space
{
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid #CCDDEE;
	padding-top: 2px;
}
#wp_page_numbers LI.first_last_page
{
	font-style: italic;
}
#wp_page_numbers LI.active_page A
{
	color: #000;
	font-weight: 800;
}
#wp_page_numbers LI.active_page A:hover
{
	color: #000000;
/*IE fix*/
}
#wp_page_numbers LI.page_info
{
	padding-top: 2px;
	margin-right: 2em;
	padding-left: 1em;
	color: #AAA;
	font-weight: 800;
	border: 1px solid #F1F1F1;
}
/*------- Navigate Pages (Next/Prev Post Links) -------*/
.pagenav
{
	padding: 0;
	margin: 0 0 1em;
	/*[disabled]background:#FFFFFF;*/
	line-height: 1em;
	display: none;
}
* HTML .pagenav
{
	height: 1%;
}
.pagenav:after
{
	content: ".";
	display: block;
	line-height: 0px;
	font-size: 0px;
	clear: both;
}
.pagenav .left
{
	float: left;
	width: 50%;
}
.pagenav .right
{
	float: right;
	width: 50%;
}
.pagenav A
{
	font-weight: 800;
}
/*-------Tag List (Tag Cloud) -------*/
#tagslist P
{
	padding: 0.3em 0.5em;
}
#tagslist A
{
	display: inline-block;
	padding: 0.2em 0.5em;
	margin-bottom: 0.2em;
	background: #FFF;
}
/*------- Wordpress Login Elements -------*/
#login
{
	top: 0px;
	z-index: 10;
	width: 0;
	position: absolute;
}
#userinfo
{
	width: 230px;
	height: 40px;
	margin: 0 auto 0 689px;
	background: #000;
	color: #FFF;
	font-size: 8px;
}
#userinfo P
{
	margin-left: 0.5em;
}
#userinfo UL
{
	margin-left: 0.5em;
}
#userinfo UL LI
{
	display: inline-block;
	float: left;
	padding-right: 1em;
}
#userlogin
{
	position: absolute;
	top: 3.2em;
	background: #AAAAAA;
	display: inline-block;
	font-size: 8px;
	padding: 0.5em 10px;
	line-height: 2em;
	width: 220px;
	margin-left: 670px;
}
#userlogin UL
{
	width: 220px;
}
#userlogin UL LI
{
	width: 100%;
	float: left;
	display: inline-block;
	vertical-align: bottom;
}
#userlogin #log, #userlogin #pwd
{
	width: 210px;
	border: 0;
	padding: 0;
}
#regrecover
{
	line-height: 1em;
}
#regrecover A
{
	font-size: 8px;
	display: inline-block;
	width: 100px;
}
#rememberme
{
	margin-left: 60px;
}
/*------- News Headline -------*/
#newsheadline
{
	margin-bottom: 16px;
}
/*------- Jquery UI tabs Stylin -------*/
.ui-tabs
{
	padding: 0;
	margin: 0 0 1em;
	zoom: 1;
}
.ui-tabs .ui-tabs-nav
{
	background: transparent;
	list-style: none;
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
}
.ui-tabs .ui-tabs-nav LI
{
	width: auto !important;
	position: relative;
	float: left;
	border-bottom-color: #000 !important;
	border-bottom-width: 0px !important;
	margin: 0 4px 0 0 !important;
	padding: 0 !important;
}
.ui-tabs .ui-tabs-nav LI A
{
	width: auto !important;
	float: left;
	text-decoration: none;
	padding: 5px;
	outline: none;
}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected
{
	background: transparent;
	border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected A, .ui-tabs .ui-tabs-nav LI.ui-state-disabled A, .ui-tabs .ui-tabs-nav LI.ui-state-processing A
{
	cursor: text;
	color: #999;
	background: #292926;
	outline: none;
}
.ui-tabs .ui-tabs-nav LI A, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav LI.ui-tabs-selected A
{
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel
{
	padding: 0.5em 0;
	display: block;
	border-width: 0;
	background: #2A2A27;
}
.ui-tabs LI
{
	margin-left: 10px;
	float: left;
	display: inline !important;
	border-style: none none dashed;
	border-color: #555 !important;
	border-width: 1px !important;
}
.ui-tabs .ui-tabs-hide
{
	display: none !important;
}
/*-------- TEMPLATE : IMAGE.PHP --------*/
#imagenav
{
	padding: 0.6em 0 0;
	width: 100%;
	background: transparent;
	text-align: center;
	font-size: 0.8em;
}
#imagenav IMG
{
	border: 1px solid #999;
	padding: 5px;
	margin: 0;
	background: #CCC;
	width: 60px;
	height: 60px;
}
#imagenav .left
{
	display: block;
	width: 70px;
	height: 110px;
	float: left;
	text-align: left;
	margin-left: 0.6em;
}
#imagenav .right
{
	display: block;
	width: 70px;
	height: 110px;
	float: right;
	text-align: right;
	margin-right: 0.6em;
}
#imagenav A.backto
{
	clear: both;
	width: 100%;
	display: block;
	color: #FF33DD;
}
#imagenav A.backto:hover
{
	color: #999;
}
#imagenav SPAN
{
	display: block;
	margin-bottom: 1.5em;
}
/*------- SEARCH WIDGET -------*/
.widget_search H3
{
	display: none;
}
#searchbox
{
	padding: 0;
	float: left;
	clear: both;
	height: 27px;
	overflow: hidden;
	padding: 5px;
	background: #A2A2B1;
}
#searchbox UL
{
	margin: 0;
}
#searchbox UL LI
{
	list-style-type: none;
}
#searchbox #searchinput
{
	width: 140px;
	background: #8D8D8D;
}
#searchbox LABEL
{
	float: left;
	display: inline-block;
	height: 25px;
	line-height: 2.2;
	font-size: 12px;
	margin-right: 0px;
	text-transform: uppercase;
	padding: 0 5px;
	border: 1px solid #FFF;
	background: #FFFFFF;
}
#searchbox INPUT
{
	display: block;
	float: left;
	font-size: 14px;
	border-width: 0px;
}
#searchbox #searchsubmit
{
	display: block;
	float: left;
	padding: 0px;
	height: 27px;
	width: 27px;
	text-align: center;
}
* HTML #search LABEL, * HTML #searchinput, * HTML #searchsubmit
{
	line-height: 1;
	margin: 0.15em 0;
}
/*------- Signup/Newsletter -------*/
#signup
{
	height: 0;
	float: right;
	z-index: 40000;
	position: relative;
	/*+placement:shift -110px 4px;*/
	position: relative;
	left: -110px;
	top: 4px;
}
#newsletter
{
	width: 274px;
	padding: 15px 10px 10px;
	margin-top: 1px;
	margin-right: 5px;
	border: 1px solid #B8A7A7;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	z-index: 40000;
	color: #4E4E26;
	font-size: 10px;
	display: none;
	background: #E7E735;
}
#newsletter H3
{
	font-size: 14px;
	margin-bottom: 10px;
}
#newsletter TABLE TD
{
	padding-right: 5px;
}
#newsletter TABLE TD INPUT
{
}
#newsletter #opt_email, #newsletter #opt_name
{
	width: 210px;
	margin-left: 10px;
}
#newsletter #submit
{
	margin-top: 3px;
	margin-left: 202px;
	border: none;
	background: #C1C100;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}
.alo_easymail_widget_ok, .alo_easymail_widget_error
{
	margin-bottom: 10px;
}
.cancelsignup
{
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #B8A7A7;
	position: relative;
	float: right;
	margin-top: 15px;
	padding: 9px 22px;
	background: #D5D679 0px 0px;
	color: #663300;
	font-weight: 800;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.cancelsignup
{
	font-size: 12px;
	/*+placement:shift 0px 1px;*/
	position: relative;
	left: 0px;
	top: 1px;
}
.cancelsignup:hover
{
	margin-top: 16px;
}
.cancelsignup:hover, #newsletter .cancel:hover
{
	cursor: pointer;
	/*[empty]margin-top:;*/
	background: #C4CC66;
}
#newsletter .cancel
{
	float: right;
	border: 1px solid #AFAFAF;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*[empty]background:;*/
	background: #D5D679 0px 0px;
	padding: 5px;
	/*+placement:shift 4px -7px;*/
	position: relative;
	left: 4px;
	top: -7px;
}
