BODY
{
	background: #FEFEFE url(./../images/background.jpg) fixed center top;
}
/*------- MAIN LAYOUT CONTAINERS -------*/
#wrapper
{
}
#page
{
	width: 100%;
	margin: 0 auto 0 0;
	padding: 0;
}
/*------- MASTHEAD ( #sitenav + #mastline ) -------*/
#masthead
{
	background: #FFF url(./../images/wrapperbg.png) repeat-x 1px -95px;
	width: 100%;
	position: relative;
	/*[disabled]margin-top:-100px;*/
	z-index: 99999;
}
#mastheadbefore
{
	width: 490px;
	height: 0;
	padding-left: 0;
	margin-left: 50%;
	z-index: 30000;
	/*+placement:anchor-top-left 0px 1px;*/
	position: absolute;
	left: 0px;
	top: 1px;
}
#mastheaditems
{
	margin: 0 auto;
	width: 980px;
	height: 99px;
	line-height: 1;
	border-bottom: 6px solid #C5CD67;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
#masthead:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
/*------- Social Media -------*/
#socialmedia
{
	float: right;
	background: #008000;
	height: 0px;
	position: relative;
	z-index: 40000;
}
#socialmedia UL LI
{
	float: left;
}
#socialmedia #followme
{
	width: 109px;
	height: 35px;
	margin-top: 14px;
	float: right;
}
#socialmedia #followme A
{
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 2px;
}
#socialmedia #followme A:hover
{
	padding: 1px 0 0;
}
#socialmedia #followme A SPAN
{
	display: none;
}
/*------- Signup/Newsletter -------*/
#signup
{
	height: 0;
	float: right;
	z-index: 40000;
	position: relative;
	/*+placement:shift -111px -2px;*/
	position: relative;
	left: -111px;
	top: -2px;
}
#newsletter
{
	width: 274px;
	padding: 15px 10px 10px;
	/*[disabled]height:115px;*/
	border: 1px solid #B8A7A7;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	color: #4E4E26;
	font-size: 10px;
	background: #E7E735;
	/*[disabled]display:inline-block;*/
	/*+placement:shift 84px 13px;*/
	position: relative;
	left: 84px;
	top: 13px;
}
#newsletter H3
{
	font-size: 14px;
	margin-bottom: 10px;
}
#newsletter TABLE TD
{
	padding-right: 5px;
}
#newsletter TABLE TD INPUT
{
}
#newsletter #opt_email, #newsletter #opt_name
{
	width: 210px;
	margin-left: 10px;
}
#newsletter .input-submit
{
	margin-top: 3px;
	margin-left: 212px;
	border: none;
	background: #C1C100;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}
#newsletter .alo_em_widget_loading
{
	/*+placement:anchor-top-left 91px 15px;*/
	position: absolute;
	left: 91px;
	top: 15px;
}
#newsletter .input-submit:hover
{
	cursor: pointer;
	background: #8E8E14;
}
.alo_easymail_widget_ok, .alo_easymail_widget_error
{
	margin-bottom: 10px;
	/*+placement:anchor-top-left 10px 113px;*/
	position: absolute;
	left: 10px;
	top: 113px;
}
.cancelsignup
{
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #B8A7A7;
	position: relative;
	float: right;
	margin-top: 15px;
	padding: 5px 13px;
	background: #D5D679 0px 0px;
	color: #663300;
	font-weight: 800;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.cancelsignup
{
	font-size: 12px;
	/*+placement:shift 0px 1px;*/
	position: relative;
	left: 0px;
	top: 1px;
}
.cancelsignup:hover
{
	margin-top: 16px;
}
.cancelsignup:hover, #newsletter .cancel:hover
{
	cursor: pointer;
	/*[empty]margin-top:;*/
	background: #DCE945;
}
#newsletter .cancel
{
	border: 1px solid #AFAFAF;
	background: #D5D679 0px 0px;
	padding: 5px;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*+placement:anchor-top-right 0px 0px;*/
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	margin-left: 245px;
	margin-top: 5px;
}
#ns_widget_mailchimp-3
{
	width: 300px;
	/*[disabled]+placement:shift 88px 7px;*/
}
#ns_widget_mailchimp-3 H3
{
	/*+placement:shift -169px 12px;*/
	position: relative;
	left: -169px;
	top: 12px;
	height: 0px;
	display: none;
	font-size: 13px;
}
#ns_widget_mailchimp_form-3
{
	/*+placement:shift 686px 62px;*/
	position: relative;
	left: 686px;
	top: 62px;
}
#ns_widget_mailchimp-3 INPUT
{
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	width: 192px;
	margin-right: 5px;
	float: left;
	color: #FF9A16;
}
#ns_widget_mailchimp-3 INPUT:focus
{
	color: #000;
}
#ns_widget_mailchimp-3 INPUT.button
{
	width: 82px;
	font-weight: 800;
	background: #FD9E1C;
	color: #FFF;
	/*+box-shadow:inset 0px 0px 3px #232323;*/
	-moz-box-shadow: inset 0px 0px 3px #232323;
	-webkit-box-shadow: inset 0px 0px 3px #232323;
	-o-box-shadow: inset 0px 0px 3px #232323;
	box-shadow: inset 0px 0px 3px #232323;
	text-transform: uppercase;
	/*+placement:shift -1px -1px;*/
	position: relative;
	left: -1px;
	top: -1px;
}
#ns_widget_mailchimp-3 P
{
	font-size: 12px !important;
	background: #FE9112;
	width: 767px;
	/*[empty]margin-left:;*/
	padding: 6px;
	color: #FFF;
	text-align: center;
	/*+placement:shift -465px 2px;*/
	position: relative;
	left: -465px;
	top: 2px;
}
#ns_widget_mailchimp-3 P SPAN
{
	color: #663401;
}
#ns_widget_mailchimp-3 .error
{
	height: 18px;
	width: 449px;
	font-weight: 800;
	background: #D0D37F;
	padding: 5px;
	text-align: center;
	/*+border-radius:2px;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	/*+placement:displace -465px 0px;*/
	position: absolute;
	margin-left: -465px;
	margin-top: 0px;
}
#ns_widget_mailchimp-3 INPUT.button:hover
{
	color: #673401;
}
#ns_widget_mailchimp-3 LABEL
{
	width: 85px;
	height: 0px;
	display: none !important;
	/*+placement:shift -91px 5px;*/
	position: relative;
	left: -91px;
	top: 5px;
}
/*------- CHIMPMAIL WIDGET -------*/
.widget_mailchimpsf_widget
{
	text-align: left;
	/*+placement:shift 148px 13px;*/
	position: relative;
	left: 148px;
	top: 13px;
	width: 235px;
}
.widget_mailchimpsf_widget H3
{
	font-size: 13px;
	text-align: center;
	width: 214px;
	padding: 4px 8px;
	background: #C5CD67;
	border: 1px solid #B0BA3A;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	margin-bottom: 5px;
}
.widget_mailchimpsf_widget H3:hover
{
	background: #AFB83C;
}
.editlink {
    display: none;
}
.mc_error_msg
{
	color: #FF0000;
	/*[empty]float:;*/
	width: 100%;
	display: block;
	text-align: right;
}
.mc_success_msg
{
}
.mc_merge_var
{
	padding: 0;
	margin: 0;
}
#mc_signup_form
{
	width: 210px;
	padding: 10px 10px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #878787;
	color: #060404;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #AFB83C;
}
.mc_custom_border_hdr
{
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	color: #CC6600;
	background-color: #FFFFFF;
	font-size: 1.2em;
	padding: 5px 10px;
	width: 100%;
}
#mc_signup_container
{
}
#mc_signup_form .mc_var_label
{
}
#mc_signup_form .mc_input
{
	width: 200px;
	background: #EBEEC2;
}
#mc-indicates-required
{
	width: 100%;
	text-align: right;
	display: none;
}
#mc_display_rewards
{
}
#mc_interests_header
{
	font-weight: bold;
}
DIV.mc_interest
{
	width: 100%;
}
#mc_signup_form INPUT.mc_interest
{
}
#mc_signup_form SELECT
{
}
#mc_signup_form LABEL.mc_interest_label
{
	display: inline;
}
.mc_signup_submit
{
	text-align: right;
	margin: 0 !important;
}
.mc_signup_submit INPUT#mc_signup_submit
{
	background: #F4FF6B;
	/*+border-radius:1px;*/
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px 1px 1px 1px;
	cursor: pointer;
	border: 1px solid #AEAEAE;
	/*+box-shadow:3px 0px 11px #ADADAD;*/
	-moz-box-shadow: 3px 0px 11px #ADADAD;
	-webkit-box-shadow: 3px 0px 11px #ADADAD;
	-o-box-shadow: 3px 0px 11px #ADADAD;
	box-shadow: 3px 0px 11px #ADADAD;
	margin: 0 !important;
	display: inline;
	float: right;
	/*[disabled]border:1px solid #757A2F;*/
}
.mc_signup_submit INPUT#mc_signup_submit:hover
{
	background: #CCD639;
}
#mc_display_rewards
{
	display: none;
}
#mc_unsub_link
{
	text-align: left;
	font-size: 10px;
	padding: 3px 5px;
	background: #F9FFD0;
	float: left;
	/*[empty]height:;*/
	display: none;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
/*------- MASTLINE Elements -------*/
#mastline
{
	float: left;
	clear: left;
	width: 410px;
	/*[disabled]background:#FFA500;*/
}
#mastline H1 A
{
	display: block;
	padding: 0;
	height: 80px;
	margin-top: 15px;
	margin-left: 5px;
	background: url(./../images/logo.png) no-repeat;
}
#mastline H1 A SPAN
{
	position: relative;
	display: none;
	left: 0px;
	top: 0px;
}
#mastline .description
{
	float: left;
	display: none;
	clear: both;
	width: 100%;
	padding: 0;
	height: 25px;
	overflow: hidden;
	font-weight: 800;
	text-indent: 14px;
}
#mastline .description .thedate
{
	display: none;
}
* HTML #mastline .description
{
	padding: 0 0 0 10px;
}
/*------- (Content) Holds Top Features + Primary + Secoondary -------*/
#content
{
	margin: 100px auto 40px;
	margin: 0px auto 0;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 980px;
	overflow: hidden;
	background: #FDFCED;
}
.home #content, .single #content
{
	padding-top: 20px;
}
H2#headline
{
	display: none;
}
.category #content
{
	padding-top: 25px;
}
#upcomingeventlink
{
	width: 0px;
	height: 0px;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 50%;
}
#upcomingeventlink A
{
	width: 205px;
	display: block;
	height: 30px;
	text-indent: -9999px;
	/*+placement:shift 272px 158px;*/
	position: relative;
	left: 272px;
	top: 158px;
}
.admin-bar #upcomingeventlink A
{
	/*+placement:shift 271px 187px;*/
	position: relative;
	left: 271px;
	top: 187px;
}
#upcomingeventlink A:hover
{
	/*+opacity:30%;*/
	filter: alpha(opacity=30);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	background: #FFF;
}
#eventinfo
{
	/*[disabled]margin:100px auto 40px;*/
	margin: 0px auto 0;
	padding-top: 105px;
	/*[empty]display:;*/
	height: 4px;
	padding-bottom: 20px;
	width: 980px;
	overflow: hidden;
	background: url(./../images/background/927top.jpg) 0px 9px;
	color: #FFF;
}
#eventinfo #catlistings
{
	background: #D0D37F;
	height: 25px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
#eventinfo #catlistings LI
{
	float: left;
	margin: 0px !important;
	font-size: 16px;
	padding: 0px 10px;
}
#eventinfo #catlistings LI A
{
	color: #FFF;
	font-weight: 800;
	display: block;
}
#eventinfo #catlistings LI A:hover
{
	color: #E5680C;
}
#eventinfo .signuplink
{
	float: left;
	height: 0px;
	width: 0px;
}
#eventinfo .signuplink A
{
	/*+placement:shift 690px 59px;*/
	position: relative;
	left: 690px;
	top: 59px;
	display: block;
	width: 160px;
	padding: 5px;
	text-indent: -9999px;
}
#eventinfo .signuplink A SPAN
{
}
#page_gallery_template #content
{
}
#index_template #content
{
	padding-top: 20px;
}
#single_template #content
{
}
#page_template_default #content
{
}
#page_template_primaryonly #content
{
}
/*------- Default Top Features -------*/
#content #topfeatures
{
	margin: 0;
}
/*------- Default 'Primary' -------*/
#primary
{
	background: transparent;
	overflow: hidden;
	margin-left: 20px;
	width: 460px;
	float: left;
	display: inline;
}
#primary .itemtext IMG
{
}
/*-------  Default 'Primary' Styling -------*/
#primary H2
{
	line-height: 1.1em;
	/*[empty]font-family:;*/
}
#primary H3
{
	margin-bottom: 10px;
}
/*------- Custom 'Primary' Children Styling -------*/
#page_gallery_template #primary #parent_content
{
	margin: 0 20px;
	width: 880px;
}
#index_template P
{
	margin-bottom: 10px;
}
/*------- Default 'Secondary' -------*/
#secondary
{
	float: right;
	width: 460px;
	overflow: hidden;
	margin-right: 20px;
}
/*------- Default 'Secondary' Children Styling -------*/
#secondary .sidebox
{
	float: left;
	margin: 0;
}
#secondary .sidebar-primary
{
	float: left;
	width: 300px;
	overflow: hidden;
}
#secondary .sidebar-secondary
{
	float: right;
	width: 140px;
}
/*------- Default Primary Descendant Styling -------*/
.item
{
	margin-bottom: 40px;
}
.itemhead
{
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.itemhead H2
{
	margin-top: 5px;
	display: block;
	float: right;
	width: 100%;
}
.itemhead .datebox
{
	line-height: 1.5em;
}
.itemhead .metadata
{
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #939393;
	float: left;
	width: 100%;
}
.itemhead .metadata>SPAN
{
	margin-right: 5px;
	float: left;
	/*[empty]z-index:;*/
}
.itemhead .metadata .author-meta
{
	float: left;
	padding-right: 5px;
	border-right: 1px dotted #7D7D7D;
}
.itemhead .metadata .chrono-meta
{
	/*[empty]float:;*/
}
.itemhead .metadata .comments-meta
{
	float: right;
}
.itemhead .metadata .comments-meta SPAN
{
	/*[disabled]background:#F4FF5E;*/
	/*+border-radius:2px;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	padding: 2px 4px;
	margin-left: 2px;
	color: #AFB83C;
	/*+placement:shift -1px -1px;*/
	position: relative;
	left: -1px;
	top: -1px;
}
.itemhead .metadata .comments-meta SPAN:hover
{
	background: #FFFFC8;
}
.itemhead .metadata .comments-meta .closed-comments-meta
{
	display: none;
}
.itemhead .metadata .category-meta
{
	clear: left;
}
.itemhead .metadata .tags-meta
{
	float: left;
	display: block;
	width: 100%;
	display: none;
}
.itemhead .metadata A
{
}
.itemtext
{
	font-size: 13px;
}
.itemtext A
{
}
.itemtext A.read_more, .itemtext A.more-link
{
	display: block;
	margin-left: 0;
	margin-top: 10px;
	color: #2C1A1A;
	background: #C5CD67;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	padding: 10px;
	width: 427px;
}
.itemtext A.read_more:hover, .itemtext A.more-link:hover
{
	background: #ADB641;
}
.page .itemtext .alignleft
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 0;
}
.itemtext .aligncenter
{
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.itemtext .alignright
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.itemtext P
{
	margin-top: 10px;
}
.itemtext UL, .itemtext OL
{
	display: inline-block;
	margin-bottom: 1em;
	margin-left: 30px;
}
.itemtext UL LI, .itemtext OL LI
{
	clear: left;
	list-style: disc;
	list-style-position: outside;
	float: left;
}
.sociable
{
	clear: both;
}
.sociable UL LI
{
	clear: none;
}
.sharing UL LI
{
	clear: none;
}
/*------- Archive -------*/
.archive #intro H2
{
	font-size: 32px;
}
.archive #intro
{
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-bottom: 2px solid #C5CD67;
}
.archive #intro #intro-meta
{
	/*+placement:shift 0px -6px;*/
	position: relative;
	left: 0px;
	top: -6px;
}
.archive .item
{
	float: left;
	width: 213px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 10px;
	height: 124px !important;
	background: #C5CD67;
}
.archive .editlink
{
	display: none;
}
.archive .itemtext P IMG
{
	float: left;
	display: none;
}
.archive .itemtext IMG
{
	float: left;
}
.archive .itemhead
{
	border: 0px solid #000000 !important;
	padding-bottom: 0px;
	width: 169px;
	min-height: 74px;
	float: right;
}
.archive .itemhead .metadata
{
	border: 0px solid #000000 !important;
	padding-bottom: 0px;
	display: none;
}
.archive .itemhead H2
{
	font-size: 16px !important;
}
.archive .itemhead H2 A
{
	font-size: 16px !important;
	width: 118px;
	padding: 7px 37px 7px 7px;
	height: 96px;
	display: block;
	z-index: 20;
	color: #000000;
	background: url(./../images/gradient/black60.png);
	background: #C5CD67;
	/*+opacity:70%;*/
	filter: alpha(opacity=70);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	/*+placement:shift 0px 2px;*/
	position: relative;
	left: 0px;
	top: 2px;
}
.archive .itemhead H2 A:hover
{
	background: url(./../images/gradient/black10.png);
}
.archive .itemtext IMG
{
	font-size: 16px !important;
	display: block;
	padding-right: 35px;
	/*+placement:shift 6px -113px;*/
	position: relative;
	left: 6px;
	top: -113px;
	background: #FEFEFE url(./../images/background.jpg) fixed left top;
	z-index: 10;
}
/*------- Navigate Pages (Next/Prev Post Links) -------*/
.pagenav
{
	padding: 0;
	margin: 0 0 1em;
	/*[disabled]background:#FFFFFF;*/
	line-height: 1em;
	display: none;
}
* HTML .pagenav
{
	height: 1%;
}
.pagenav:after
{
	content: ".";
	display: block;
	line-height: 0px;
	font-size: 0px;
	clear: both;
}
.pagenav .left
{
	float: left;
	width: 50%;
}
.pagenav .right
{
	float: right;
	width: 50%;
}
.pagenav A
{
	font-weight: 800;
}
/*------- Secondary Descendant Sytling -------*/
.sidebox
{
}
.sidebox H2
{
	margin-bottom: 10px;
}
.sidebox H3
{
	font-size: 17px;
	background: #FF9E15;
	padding: 8px 10px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.sidebox .widget_ns_mailchimp INPUT
{
	width: 200px;
}
.sidebox .widget_ns_mailchimp FORM
{
	float: right;
}
.sidebox .widget_ns_mailchimp INPUT.button
{
	width: 100px;
	background: #F2E777;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}
.sidebox .widget_ns_mailchimp SPAN
{
	background: #FFB245;
	display: block;
}
.sidebox .widget_ns_mailchimp INPUT.button:hover
{
	background: #FF9E15;
}
#secondary .widget
{
	float: left;
	clear: both;
	z-index: 0;
	margin-bottom: 1em;
}
#secondary .video_embed_widget
{
	margin-bottom: 20px;
}
.widget_links UL
{
	width: 100%;
}
.widget_links UL LI
{
	float: left;
}
.sidebar_primary A, .sidebar_secondary A
{
}
#secondary H3
{
	margin-bottom: 10px;
	float: left;
	/*[empty]font-size:;*/
	display: block;
	clear: both;
	color: #6D4239;
}
#secondary .sidebar-secondary H3
{
	font-size: 18px;
}
#sidebar UL
{
	margin-bottom: 20px;
	clear: left;
}
#sidebar UL:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
#sidebar UL LI
{
	background: transparent;
	float: left;
	width: 290px;
	padding: 5px 0 5px 10px;
	border-bottom: 2px dotted #DBDECB;
}
#sidebar .sidebar_secondary UL LI
{
	width: 125px;
	font-size: 10px;
}
#sidebar UL LI IMG
{
	float: left;
	margin-right: 10px;
}
.storytellers
{
	margin-top: 10px;
}
#secondary .storytellers
{
	margin-top: 10px;
	padding: 10px;
	height: 180px;
	border: 1px solid #FFC680;
	/*+border-radius:2px;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	background: #EFF2E2;
	/*+box-shadow:1px 3px 4px #EAEBE3;*/
	-moz-box-shadow: 1px 3px 4px #EAEBE3;
	-webkit-box-shadow: 1px 3px 4px #EAEBE3;
	-o-box-shadow: 1px 3px 4px #EAEBE3;
	box-shadow: 1px 3px 4px #EAEBE3;
	margin-bottom: 10px;
	/*+placement:shift 0px -9px;*/
	position: relative;
	left: 0px;
	top: -9px;
}
#secondary .storytellers .biopic
{
	float: left;
	width: 128px;
	height: 144px;
	margin-right: 10px;
}
#secondary .storytellers .biopic STRONG
{
	display: block;
	/*+placement:shift -1px 0px;*/
	position: relative;
	left: -1px;
	top: 0px;
	margin-left: 24px;
}
#secondary .storytellers P
{
	text-indent: 10px;
	font-size: 13px;
	margin-bottom: 10px;
}
.storytellers HR
{
	padding: 2px;
}
.storytellers IMG
{
	padding: 3px;
	background: #E8E8E7;
	border: 1px solid #DBDBDB;
	/*+border-radius:6px;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	margin: 0 11px 0 0;
}
.storytellers P
{
	line-height: 1.2;
}
/*------- Comment Section -------*/
#feedback
{
	margin-top: 30px;
	clear: both;
}
#feedback H3
{
	border-bottom: 1px dotted #7C7C7C;
	margin-bottom: 10px;
	/*+text-shadow:0px -1px 1px #414141;*/
	-moz-text-shadow: 0px -1px 1px #414141;
	-webkit-text-shadow: 0px -1px 1px #414141;
	-o-text-shadow: 0px -1px 1px #414141;
	text-shadow: 0px -1px 1px #414141;
	text-align: right;
}
#feedback P
{
	margin-bottom: 10px;
}
#feedback .commentlist LI
{
	padding: 10px 3px;
	/*+box-shadow:inset 0 0 4px #767676;*/
	-moz-box-shadow: inset 0 0 4px #767676;
	-webkit-box-shadow: inset 0 0 4px #767676;
	-o-box-shadow: inset 0 0 4px #767676;
	box-shadow: inset 0 0 4px #767676;
}
#feedback .commentlist>LI
{
	border: 1px solid #C3C1C1;
	border-style: none none solid;
	margin-bottom: 10px;
	padding: 10px;
	/*[empty]width:;*/
	/*+box-shadow:inset 0 0 4px #767676;*/
	-moz-box-shadow: inset 0 0 4px #767676;
	-webkit-box-shadow: inset 0 0 4px #767676;
	-o-box-shadow: inset 0 0 4px #767676;
	box-shadow: inset 0 0 4px #767676;
	background: url(./../images/gradient/black10.png);
}
#feedback .commentlist LI UL
{
	margin-left: 50px;
	margin-top: 14px;
	margin-right: 6px;
	background: url(./../images/gradient/white20.png);
}
#feedback .commentlist LI UL LI
{
	border-style: none;
}
#feedback .commentlist LI UL LI LI
{
}
#feedback .comment-author
{
	padding: 0;
	margin: 0;
	height: 65px;
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
#feedback LI.odd>DIV .comment-author
{
	padding: 0;
	margin: 0;
	height: 65px;
	text-align: right;
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
#feedback .comment-author CITE
{
	font-style: normal;
	font-size: 22px;
	/*+placement:anchor-top-left 56px 19px;*/
	position: absolute;
	left: 56px;
	top: 19px;
}
#feedback LI.odd>DIV .comment-author CITE
{
	padding: 0;
	height: 65px;
	/*+placement:shift 0px 18px;*/
	position: relative;
	left: 0px;
	top: 18px;
}
#feedback .comment-meta
{
	font-size: 11px;
	padding: 0;
	letter-spacing: -1px;
	width: auto;
	height: 0px;
	margin: 0;
	/*+placement:shift 57px -19px;*/
	position: relative;
	left: 57px;
	top: -19px;
}
#feedback LI.odd>DIV .comment-meta
{
	font-size: 11px;
	padding: 0;
	letter-spacing: -1px;
	width: auto;
	height: 0px;
	/*+placement:shift -51px -20px;*/
	position: relative;
	left: -51px;
	top: -20px;
	float: right;
}
#feedback .commentlist LI P
{
	margin-left: 56px;
	margin-right: 9px;
	margin-bottom: 10px;
}
#feedback .commentlist LI.odd>DIV P
{
	margin-left: 10px;
	margin-right: 50px;
	margin-bottom: 10px;
}
#feedback #respond P.comment-form-comment LABEL
{
	display: none;
}
#feedback .comment-author .says
{
	display: none;
}
#feedback IMG
{
	font-size: 10px;
	padding: 4px;
	margin-right: 11px;
	/*[empty]float:;*/
	color: #3B3B3B;
	/*+placement:shift 7px 5px;*/
	position: relative;
	left: 7px;
	top: 5px;
	/*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424;
	-webkit-text-shadow: 0px 1px 1px #242424;
	-o-text-shadow: 0px 1px 1px #242424;
	text-shadow: 0px 1px 1px #242424;
	/*+box-shadow:inset 0px 0px 3px #696969;*/
	-moz-box-shadow: inset 0px 0px 3px #696969;
	-webkit-box-shadow: inset 0px 0px 3px #696969;
	-o-box-shadow: inset 0px 0px 3px #696969;
	box-shadow: inset 0px 0px 3px #696969;
}
#feedback LI.even>DIV>DIV .avatar
{
	font-size: 10px;
	padding: 4px;
	margin-right: 11px;
	/*[empty]float:;*/
	color: #3B3B3B;
	/*+placement:shift 7px 5px;*/
	position: relative;
	left: 7px;
	top: 5px;
	/*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424;
	-webkit-text-shadow: 0px 1px 1px #242424;
	-o-text-shadow: 0px 1px 1px #242424;
	text-shadow: 0px 1px 1px #242424;
	/*+box-shadow:inset 0px 0px 3px #413C3C;*/
	-moz-box-shadow: inset 0px 0px 3px #413C3C;
	-webkit-box-shadow: inset 0px 0px 3px #413C3C;
	-o-box-shadow: inset 0px 0px 3px #413C3C;
	box-shadow: inset 0px 0px 3px #413C3C;
}
#feedback LI.odd>DIV>DIV .avatar
{
	font-size: 10px;
	padding: 4px;
	margin-right: 11px;
	float: right;
	color: #3B3B3B;
	/*+placement:shift 7px 5px;*/
	position: relative;
	left: 7px;
	top: 5px;
	/*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424;
	-webkit-text-shadow: 0px 1px 1px #242424;
	-o-text-shadow: 0px 1px 1px #242424;
	text-shadow: 0px 1px 1px #242424;
	/*+box-shadow:inset 0px 0px 3px #413C3C;*/
	-moz-box-shadow: inset 0px 0px 3px #413C3C;
	-webkit-box-shadow: inset 0px 0px 3px #413C3C;
	-o-box-shadow: inset 0px 0px 3px #413C3C;
	box-shadow: inset 0px 0px 3px #413C3C;
}
#feedback OL.commentlist LI .reply
{
	position: relative;
	width: 42px;
	font-size: 9px;
	/*+placement:anchor-top-left 6px 46px;*/
	position: absolute;
	left: 6px;
	top: 46px;
	color: #3B3B3B;
}
#feedback OL.commentlist LI.odd
{
	text-align: right;
}
#feedback OL.commentlist LI.odd .comment-body
{
	text-align: left;
}
#feedback OL.commentlist LI.odd>DIV .reply
{
	margin: 0 44px 0 100% !important;
}
#feedback OL.commentlist .reply A
{
	padding: 0px;
	text-align: center;
	display: block;
	color: #4A4A4A;
	text-transform: uppercase;
	/*[disabled]border:1px solid #949494;*/
	/*[disabled]+box-shadow:inset 0px 0px 3px #000000;*/
}
#feedback OL.commentlist LI.odd>DIV .reply A
{
	/*+placement:shift -51px 0px;*/
	position: relative;
	left: -51px;
	top: 0px;
}
#feedback .commentlist .trackback
{
	display: none;
}
#feedback .commentlist .pingback
{
	display: none;
}
#feedback .commentlist LI .reply A:hover
{
	background: url(./../images/gradient/black10.png);
}
#feedback .commentlist LI .comment-body
{
	clear: left;
	display: block;
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
#feedback LABEL
{
	margin-left: 5px;
	color: #8D8D8D;
	/*+text-shadow:0px -1px 0px #4A4A4A;*/
	-moz-text-shadow: 0px -1px 0px #4A4A4A;
	-webkit-text-shadow: 0px -1px 0px #4A4A4A;
	-o-text-shadow: 0px -1px 0px #4A4A4A;
	text-shadow: 0px -1px 0px #4A4A4A;
}
#feedback INPUT, #feedback TEXTAREA
{
	background: url(./../images/gradient/black30.png);
	border: 1px solid #A5A4A0;
	color: #4D4D4D;
}
#feedback TEXTAREA
{
	width: 448px;
}
#feedback INPUT:focus, #feedback TEXTAREA:focus
{
	/*+box-shadow:inset 0 0px 8px #2C2C2C;*/
	-moz-box-shadow: inset 0 0px 8px #2C2C2C;
	-webkit-box-shadow: inset 0 0px 8px #2C2C2C;
	-o-box-shadow: inset 0 0px 8px #2C2C2C;
	box-shadow: inset 0 0px 8px #2C2C2C;
	border: 1px solid #AEAEAE;
}
#feedback #respond
{
	margin-top: 30px;
	margin-left: 0px;
	text-align: left;
}
#feedback #respond P.comment-notes
{
	color: #6F6F6F;
	text-transform: uppercase;
	border: 1px solid #C2C2C2;
	/*+box-shadow:inset 0px 0px 3px #6E6262;*/
	-moz-box-shadow: inset 0px 0px 3px #6E6262;
	-webkit-box-shadow: inset 0px 0px 3px #6E6262;
	-o-box-shadow: inset 0px 0px 3px #6E6262;
	box-shadow: inset 0px 0px 3px #6E6262;
	font-size: 10px;
	text-align: right;
	width: 109px;
	float: right;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	background: url(./../images/gradient/white40.png);
}
#feedback #respond P.form-allowed-tags
{
	font-size: 11px;
}
#feedback #respond P.form-allowed-tags CODE
{
	clear: left;
	font-size: 10px;
	margin: 10px 0;
	display: block;
}
#feedback #respond H3
{
	font-weight: 400;
	letter-spacing: 1px;
}
#feedback SMALL #cancel-comment-reply-link
{
	clear: left;
	font-size: 10px;
	padding: 4px;
	text-transform: uppercase;
	color: #585858;
	margin-right: -102px;
	border: 1px solid #949494;
	/*+placement:shift -102px -35px;*/
	position: relative;
	left: -102px;
	top: -35px;
	background: url(./../images/gradient/black20.png);
}
#feedback SMALL #cancel-comment-reply-link:hover
{
	background: url(./../images/gradient/black10.png);
}
#feedback #commentform LABEL
{
	margin-bottom: 10px;
	display: block;
	width: 100px;
	font-size: 18px;
	color: #818181;
	float: left;
}
#feedback #commentform .required
{
}
#feedback #commentform .comment-form-author .required
{
	float: left;
	width: 0px;
	font-size: 14px;
	/*+placement:shift -110px 0px;*/
	position: relative;
	left: -110px;
	top: 0px;
	color: #797979;
	/*+text-shadow:0px -1px 0px #4A4A4A;*/
	-moz-text-shadow: 0px -1px 0px #4A4A4A;
	-webkit-text-shadow: 0px -1px 0px #4A4A4A;
	-o-text-shadow: 0px -1px 0px #4A4A4A;
	text-shadow: 0px -1px 0px #4A4A4A;
}
#feedback #commentform .comment-form-email .required
{
	float: left;
	width: 0px;
	/*+placement:shift -110px 0px;*/
	position: relative;
	left: -110px;
	top: 0px;
	font-size: 14px;
	color: #797979;
	/*+text-shadow:0px -1px 0px #4A4A4A;*/
	-moz-text-shadow: 0px -1px 0px #4A4A4A;
	-webkit-text-shadow: 0px -1px 0px #4A4A4A;
	-o-text-shadow: 0px -1px 0px #4A4A4A;
	text-shadow: 0px -1px 0px #4A4A4A;
}
#feedback .form-submit
{
	text-align: right;
}
#feedback #submit
{
	cursor: pointer;
	/*+border-radius:1px;*/
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px 1px 1px 1px;
	padding: 4px 8px;
	border: 1px solid #555555;
	color: #1D1D1D;
	background: #AFB83C;
}
#feedback #submit:hover
{
	background: url(./../images/background/woodbackground.jpg);
}
#feedback .bypostauthor
{
	clear: left;
	display: block;
	border: 1px dotted #5B5B5B !important;
	background: #E5EE6C !important;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*+box-shadow:0px 0px 0 #B7B7B7;*/
	-moz-box-shadow: 0px 0px 0 #B7B7B7 !important;
	-webkit-box-shadow: 0px 0px 0 #B7B7B7 !important;
	-o-box-shadow: 0px 0px 0 #B7B7B7 !important;
	box-shadow: 0px 0px 0 #B7B7B7 !important;
}
/*-------- Template IMAGE.php :: Image Navigation --------*/
#imagenav
{
	padding: 0.6em 0 0;
	width: 100%;
	background: transparent;
	text-align: center;
	font-size: 0.8em;
}
#imagenav IMG
{
	border: 1px solid #999;
	padding: 5px;
	margin: 0;
	background: #CCC;
	width: 60px;
	height: 60px;
}
#imagenav .left
{
	display: block;
	width: 70px;
	height: 110px;
	float: left;
	text-align: left;
	margin-left: 0.6em;
}
#imagenav .right
{
	display: block;
	width: 70px;
	height: 110px;
	float: right;
	text-align: right;
	margin-right: 0.6em;
}
#imagenav A.backto
{
	clear: both;
	width: 100%;
	display: block;
	color: #FF33DD;
}
#imagenav A.backto:hover
{
	color: #999;
}
#imagenav SPAN
{
	display: block;
	margin-bottom: 1.5em;
}
/*------- Default Wordpress Insert Gallery Option --------*/
.gallery
{
	margin: auto;
}
.gallery .gallery-item
{
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 25%;
}
.gallery IMG
{
	border: 2px solid #CFCFCF;
}
.gallery .gallery-caption
{
	margin-left: 0;
}
.gallery
{
	margin-bottom: 1.5em !important;
}
#imagenav .gallery IMG
{
	width: 35px;
	height: 35px;
	padding: 0px;
}
.gallery-caption
{
}
#imagenav .gallery .highlight IMG
{
	background: #000;
	width: 70px;
	height: 70px;
}
#imagenav .gallery-caption
{
	display: none;
}
.gallery A IMG
{
	border: 0;
	margin: 0;
	width: 150px;
	height: 150px;
	padding: 5px;
	background: #000;
}
/*------- Footer Elements -------*/
#footer
{
	clear: both;
	width: 100%;
	margin: 0;
}
#footbox
{
	width: 940px;
	border-top: 1px dashed #BDBDBD;
	margin: 0 auto;
	padding: 10px 20px 20px;
	height: 170px;
	background: #FDFCED;
	background: #DCDFCC url(./../images/wrapperbg.png) repeat-x;
}
#footbox .col1
{
	padding-top: 15px;
	float: left;
}
#footer UL LI SPAN
{
	display: block;
	color: #333;
}
#footbox
{
}
/*------- Search Box Elements -------*/
#search
{
/*padding: .5em 10px .3em 0;*/
	float: left;
	text-align: left;
	background: #BBBBBB;
	/*[disabled]padding-right:10px;*/
	width: 100%;
	height: 35px;
	overflow: hidden;
	display: none;
}
#searchbox
{
	padding: 0.45em 0;
}
#search H2
{
	display: none;
	background: #BBBBBB;
}
#search LABEL, #searchinput, #searchsubmit
{
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 0;
	vertical-align: middle;
}
#search LABEL
{
}
#search INPUT
{
}
* HTML #search LABEL, * HTML #searchinput, * HTML #searchsubmit
{
	line-height: 1;
	margin: 0.15em 0;
}
#searchform INPUT
{
	color: #000;
	line-height: 1.6em;
}
/*------- Bread Crumbs -------*/
#breadcrumbs
{
	background: #F0F0F0;
	display: block;
	padding: 5px 0 5px 10px;
}
/*------- Wordpress Page Numbers Plugin Stylin -------*/
#wp_page_numbers UL, #wp_page_numbers LI, #wp_page_numbers A
{
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
}
#wp_page_numbers
{
	margin-top: 10px;
	width: 100%;
	background: #F1F1F1;
	/*[disabled]border:1px solid #BFBFBF;*/
	padding: 0.25em 0;
}
#wp_page_numbers UL
{
	width: 100%;
}
#wp_page_numbers LI
{
	float: left;
	display: block;
}
#wp_page_numbers A
{
	padding: 2px;
	margin-left: 3px;
	margin-right: 3px;
	display: block;
	color: #333;
}
#wp_page_numbers LI A:hover
{
	border-color: #999;
	font-weight: 800;
}
#wp_page_numbers LI.space
{
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid #CCDDEE;
	padding-top: 2px;
}
#wp_page_numbers LI.first_last_page
{
	font-style: italic;
}
#wp_page_numbers LI.active_page A
{
	color: #000;
	font-weight: 800;
}
#wp_page_numbers LI.active_page A:hover
{
	color: #000000;
/*IE fix*/
}
#wp_page_numbers LI.page_info
{
	padding-top: 2px;
	margin-right: 2em;
	padding-left: 1em;
	color: #AAA;
	font-weight: 800;
	border: 1px solid #F1F1F1;
}
/*-------Tag List (Tag Cloud) -------*/
#tagslist P
{
	padding: 0.3em 0.5em;
}
#tagslist A
{
	display: inline-block;
	padding: 0.2em 0.5em;
	margin-bottom: 0.2em;
	background: #FFF;
}
/*------- Wordpress Login Elements -------*/
#login
{
	top: 0px;
	z-index: 10;
	width: 0;
	position: absolute;
}
#userinfo
{
	width: 230px;
	height: 40px;
	margin: 0 auto 0 689px;
	background: #000;
	color: #FFF;
	font-size: 8px;
}
#userinfo P
{
	margin-left: 0.5em;
}
#userinfo UL
{
	margin-left: 0.5em;
}
#userinfo UL LI
{
	display: inline-block;
	float: left;
	padding-right: 1em;
}
#userlogin
{
	position: absolute;
	top: 3.2em;
	background: #AAAAAA;
	display: inline-block;
	font-size: 8px;
	padding: 0.5em 10px;
	line-height: 2em;
	width: 220px;
	margin-left: 670px;
}
#userlogin UL
{
	width: 220px;
}
#userlogin UL LI
{
	width: 100%;
	float: left;
	display: inline-block;
	vertical-align: bottom;
}
#userlogin #log, #userlogin #pwd
{
	width: 210px;
	border: 0;
	padding: 0;
}
#regrecover
{
	line-height: 1em;
}
#regrecover A
{
	font-size: 8px;
	display: inline-block;
	width: 100px;
}
#rememberme
{
	margin-left: 60px;
}
/*------- News Headline -------*/
#headline
{
	margin-bottom: 0;
	padding: 0;
	margin: 0;
	font-size: 26px;
	font-weight: 400;
	color: #663300;
	/*+text-shadow:0px 1px 2px #A7A7A7;*/
	-moz-text-shadow: 0px 1px 2px #A7A7A7;
	-webkit-text-shadow: 0px 1px 2px #A7A7A7;
	-o-text-shadow: 0px 1px 2px #A7A7A7;
	text-shadow: 0px 1px 2px #A7A7A7;
}
/*------- Post Nav -------*/
#primary .postnav
{
	padding: 10px 5px;
	text-align: right;
	clear: both;
	bottom: 0;
	left: 0;
	border-top: 1px dotted #D3D3D3;
}
#primary .postnav A
{
	background: #E9DAB2;
	color: #2E2D2D;
	padding: 5px 8px;
}
#primary .postnav A:hover
{
	background: #C89F2F;
	color: #2E2D2D;
	padding: 5px 8px;
}
#primary .postnav SPAN
{
	background: #E6E6E6;
	color: #ACACAC;
	padding: 5px 8px;
}
/*------- JETPACK TWEET -------*/
#sidebar .widget_twitter UL LI
{
	width: 125px;
	padding-right: 5px;
	padding-top: 13px;
	line-height: 1.2em;
	background: #ADB641;
	margin-bottom: 10px;
	border-bottom: 0px solid #000000;
	margin-left: 0px;
}
#sidebar .widget_twitter UL LI .timesince
{
	margin: 4px 0 2px;
	display: block;
	font-size: 10px;
	color: #F7FFEA;
}
#sidebar .widget_twitter UL
{
	margin: 0 !important;
}
#content
{
}
#secondary .storytellers STRONG
{
	/*+placement:shift -104px 121px;*/
	position: relative;
	left: -104px;
	top: 121px;
	/*[empty]width:;*/
}
#secondary .storytellers .biopic
{
	float: left;
}
.buybuttons
{
	height: 0px;
	width: 0px;
}
.buybuttons .westla SPAN
{
	/*+placement:shift 497px 33px;*/
	position: relative;
	left: 497px;
	top: 33px;
}
.buybuttons .downtown SPAN
{
	/*+placement:shift 770px 4px;*/
	position: relative;
	left: 770px;
	top: 4px;
}
.buybuttons SPAN:hover
{
	background: #CA7400;
	color: #FFF;
}
.buybuttons SPAN
{
	width: 82px;
	width: 71px;
	text-align: center;
	font-size: 11px;
	display: block;
	/*+text-shadow:0px 1px 1px #87887D;*/
	-moz-text-shadow: 0px 1px 1px #87887D;
	-webkit-text-shadow: 0px 1px 1px #87887D;
	-o-text-shadow: 0px 1px 1px #87887D;
	text-shadow: 0px 1px 1px #87887D;
	padding: 4px 4px 3px;
	font-weight: 400;
	background: #F9FFAF;
	color: #F92;
	/*+box-shadow:1px 1px 2px #C5CD67;*/
	-moz-box-shadow: 1px 1px 2px #C5CD67;
	-webkit-box-shadow: 1px 1px 2px #C5CD67;
	-o-box-shadow: 1px 1px 2px #C5CD67;
	box-shadow: 1px 1px 2px #C5CD67;
	/*+border-radius:2px;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
	text-transform: uppercase;
}
.home .sticky {
display: block !important;
}
.home .post {
display: none;
}
.postnav {
display: none;
}
#text-5{
width: 100%;
}

#content-featured {
    margin-top: -20px;
    background: #d0d37f;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
}

#primary {
    float: left;
    clear: both;
}


#content-featured ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;

}

#content-featured ul li {
    float: left;
    margin-left: 20px;
}

#content-featured ul li a {
    padding: 10px 0;
    margin-right: 16px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 16px;

}

#content-featured ul li a:hover {
    opacity: .8;
}

#giftcertificate {
    width: 458px;
    float: left;
    margin-bottom: 10px;
    background: #fdff1f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid orangered;
}

#giftcertificate>div {
    margin: 15px;
    float: left;;

}

#giftcertificate>a:hover {
    background: #ffffff;
    opacity: .5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}

/*FADESLIDER*/
#fadeslider
{
    margin-top: 80px;
    position: relative;
    height: 430px;
}
#fadeslider IMG
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}
#fadeslider IMG.active
{
    z-index: 10;
}
#fadeslider IMG.last-active
{
    z-index: 9;
}

.itemtext .row{
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 8px;
}

.itemtext .row .date {
    width: 110px;
    float: left;
}

.itemtext .row .desc {
    width: auto;
    float: left;
}

.itemtext .row a {
    color: white;
    background: pink;
    padding: 4px 2px;
    margin-left: 4px;

}

.itemtext .row a:hover {
    opacity: .8;
}
