/*[fmt]CC90-1C0C-1*/
/*------- SERIAL SCROLLER -------*/
#content .serialscroller
{
	background: url(./../images/background/960grid.png);
}
#content .serialscroller .thumbnail
{
	background: url(./../images/background/960grid.png);
	width: 360px;
	margin: 0 auto;
}
#content .serialscroller .medium
{
	background: url(./../images/background/960grid.png);
	width: 540px;
	margin: 0 auto;
}
#content .serialscroller .large
{
	background: url(./../images/background/960grid.png);
	width: 880px;
}
#content .serialscroller .scrollboxnav
{
	height: 0;
	margin: 0 auto;
	position: relative;
	text-align: center;
	/*[disabled]display:none;*/
}
#content .serialscroller .scrollboxnav A
{
	outline: none;
}
#content .serialscroller .scrollboxnav .previtem
{
	display: inline-block;
	background: url(./../images/msleft.png) no-repeat center;
	z-index: 10000;
	width: 80px;
	height: 80px;
	position: relative;
}
#content .serialscroller .scrollboxnav .nextitem
{
	display: inline-block;
	background: url(./../images/msright.png) no-repeat center center;
	z-index: 10000;
	width: 80px;
	height: 80px;
	position: relative;
}
#content .serialscroller .scrollboxnav SPAN
{
	visibility: hidden;
}
#content .serialscroller .scrollcontent
{
	z-index: 20000;
	overflow: hidden;
}
#content .serialscroller .scrollcontent .scrollbox
{
	width: 50000px;
	margin: 0px 0 0;
}
#content .serialscroller .slide_image
{
	margin-bottom: 0;
	text-align: center;
}
#content .serialscroller .slide_item
{
	float: left;
	display: inline;
	height: 360px;
}
#content .serialscroller .thumbnail .slide_item
{
	float: left;
	display: inline;
	height: 240px;
}
#content .serialscroller .medium .slide_item
{
	float: left;
	display: inline;
	height: 360px;
}
#content .serialscroller .large .slide_item
{
	float: left;
	display: inline;
	height: 540px;
}
#content .serialscroller .slide_content
{
	background: url(./../images/greysquare.png);
	line-height: 1.6em;
	position: relative;
	display: none;
	left: 0;
}
#content .serialscroller .slide_content .slide_box
{
	color: #FFF;
	padding: 10px;
}
#content .serialscroller .slide_item H3
{
	text-align: left;
	padding: 20px 10px 10px;
}
#content .serialscroller .slide_item H3 A
{
	color: #FEFEFE;
	display: inline-block;
}
#content .serialscroller .slide_item H3 A:visited
{
	color: #FEFEFE;
	display: inline-block;
}
/*-------- Jcycle Gallery --------*/
.jcyclegallery
{
	position: relative;
}
.jcyclegallery HR
{
	display: block;
	height: 0;
	margin: 0;
	padding: 0;
}
.jcyclegallery .flashvideo
{
	height: 520px;
	clear: both;
}
.media_grouping
{
	text-align: center;
	float: left;
	display: block;
	background: url(./../images/background.jpg);
}
.galsize_thumbnail .media_grouping
{
	width: 360px;
}
.galsize_medium .media_grouping
{
	width: 460px;
}
.galsize_large .media_grouping
{
	width: 940px;
	background: transparent;
}
.jcyclegallery .media_assets .asset
{
	display: block;
	width: 100%;
}
.jcyclegallery .media_assets .asset_caption
{
	margin: 0 auto !important;
	padding: 10px;
	/*[empty]background:;*/
	text-align: center;
}
.jcyclegallery .media_assets .asset_content
{
	background: #000000;
	color: #AEAEAE;
	text-align: left;
	padding: 0 15px 10px;
}
.galsize_large .media_assets .asset IMG
{
	display: block;
	margin: 0 auto;
}
/*-------- Jcycle Thumbs/Navigator--------*/
.jcyclethumbs
{
	float: left;
}
.jcyclethumbs UL.thumbnav
{
	position: relative;
	width: auto;
	float: left;
	margin: 0;
}
.jcyclethumbs UL.thumbnav LI
{
	position: relative;
	clear: none;
	float: left;
	display: inline-block;
	border-bottom: none !important;
	list-style: none inside;
	margin: 0px 4px 4px;
}
.jcyclethumbs UL.thumbnav LI IMG
{
	width: 65px;
	height: 40px;
	padding: 3px;
	background: #CACACA;
	border: 1px solid #898989;
	/*+border-radius:2px;*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.jcyclethumbs UL.thumbnav LI IMG:hover
{
	background: #787878;
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	border: 1px solid #333333;
}
.jcyclethumbs UL.thumbnav A
{
	position: relative;
	clear: none;
	outline: none;
}
.galsize_thumbnail .jcyclethumbs
{
	float: left;
	width: 520px;
	/*[disabled]margin:0 10px 0 20px;*/
}
.galsize_thumbnail .jcyclethumbs .simplemedia_controls
{
	/*+placement:shift -14px 0px;*/
	position: relative;
	left: -14px;
	top: 0px;
}
.galsize_thumbnail .jcyclethumbs UL.thumbnav
{
	margin: 10px 0;
}
.galsize_thumbnail .jcyclethumbs UL.thumbnav LI
{
	position: relative;
	clear: none;
	float: left;
	display: inline-block;
	border-bottom: none !important;
	list-style: none inside;
	margin: 0px 6px 4px;
}
.galsize_medium .jcyclethumbs
{
	float: left;
	margin: 5px;
	width: 460px;
}
.galsize_medium .jcyclethumbs .simplemedia_controls
{
	/*+placement:shift -12px -4px;*/
	position: relative;
	left: -12px;
	top: -4px;
}
.galsize_large .jcyclethumbs UL.thumbnav
{
	margin: 5px 25px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.galsize_large .jcyclethumbs
{
	margin: 10px 0;
	padding-bottom: 10px;
	background: #A7A7A7;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}
.galsize_large .jcyclethumbs UL.thumbnav
{
	margin: 5px 25px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.galsize_large .jcyclethumbs .simplemedia_controls
{
	margin: 7px 30px 0 0;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
/*-------- Jcycle Gallery Media Controls --------*/
.simplemedia_controls
{
	padding: 5px 0px 5px 0;
	/*[empty]background:;*/
	text-align: right;
}
.simplemedia_controls SPAN
{
	display: inline-block;
	color: #7E7E7E;
	padding: 6px 13px;
	font-size: 11px;
	background: transparent url(./../images/greysquare.png);
	/*+text-shadow:0 -1px 2px #333;*/
	-moz-text-shadow: 0 -1px 2px #333;
	-webkit-text-shadow: 0 -1px 2px #333;
	-o-text-shadow: 0 -1px 2px #333;
	text-shadow: 0 -1px 2px #333;
	/*+box-shadow:0px 0px 12px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	border-bottom: 1px solid #666;
	border-right: 1px solid #222;
	/*[disabled]height:40px;*/
}
.simplemedia_controls .jcyclecounter
{
}
.simplemedia_controls .prev SPAN
{
	/*+border-radius:5px 0 0 5px;*/
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.simplemedia_controls .next SPAN
{
	/*+border-radius:0px 5px 5px 0px;*/
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-khtml-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}
.simplemedia_controls SPAN:HOVER
{
	color: #9AB4CC;
}
.media_controls SPAN
{
	color: #FFFFFF;
}
.media_controls
{
	z-index: 1000;
	position: relative;
	top: 40px;
	width: 100%;
	height: 40px;
	margin: -40px 0 0;
	/*[disabled]line-height:38px;*/
	/*[disabled]background:transparent;*/
}
.media_controls .prev
{
	display: block;
	float: left;
	text-align: left;
	width: 50%;
	height: 40px;
	outline: none;
	overflow: hidden;
}
.media_controls .next
{
	float: left;
	overflow: hidden;
	display: block;
	outline: none;
	width: 50%;
	height: 40px;
	text-align: right;
	z-index: 2000;
}
.media_controls .play, .media_controls .pause
{
	overflow: hidden;
	display: block;
	float: left;
	outline: none;
	margin-top: 0;
	height: 40px;
	width: 50%;
	margin-left: 25%;
	margin-top: -40px;
	z-index: 2000;
}
.media_controls SPAN
{
	display: inline-block;
	color: #E6E6E6;
	background: #333;
	padding: 6px 13px;
	margin: 6px;
	font-size: 11px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	/*+text-shadow:0 -1px 2px #333;*/
	-moz-text-shadow: 0 -1px 2px #333;
	-webkit-text-shadow: 0 -1px 2px #333;
	-o-text-shadow: 0 -1px 2px #333;
	text-shadow: 0 -1px 2px #333;
	/*+box-shadow:0px 0px 12px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
	/*[disabled]height:40px;*/
}
.media_controls SPAN:hover
{
	padding: 5px 12px;
	color: #0AF;
	margin: 7px;
}
/*SMOOTH SCROLLER*/
DIV.smooth_thumbnail
{
	position: relative;
	overflow: hidden;
	height: 359px;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
DIV.smooth_medium
{
	position: relative;
	overflow: hidden;
	height: 320px;
}
DIV.smooth_large
{
	position: relative;
	overflow: hidden;
	height: 540px;
}
DIV.scrollingHotSpotLeft
{
/*The hotspots have a minimum width of 100 pixels and if there is room the will growand occupy 15% of the scrollable area (30% combined). Adjust it to your own taste.*/
	min-width: 75px;
	width: 10%;
	height: 100%;
/*There is a big background image and it's used to solve some problems I experiencedin Internet Explorer 6.*/
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
/*The first url is for Firefox and other browsers, the second is for Internet Explorer*/
}
DIV.scrollingHotSpotLeftVisible
{
	background-color: #FFF;
	background-repeat: no-repeat;
	opacity: 0.05;
/*Standard CSS3 opacity setting*/
	-moz-opacity: 0.05;
/*Opacity for really old versions of Mozilla Firefox (0.9 or older)*/
	filter: alpha(opacity = 05);
/*Opacity for Internet Explorer.*/
	zoom: 1;
/*Trigger "hasLayout" in Internet Explorer 6 or older versions*/
}
DIV.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
}
DIV.scrollingHotSpotRightVisible
{
	background-color: #FFF;
	background-repeat: no-repeat;
	opacity: 0.05;
	filter: alpha(opacity = 05);
	-moz-opacity: 0.05;
	zoom: 1;
}
DIV.scrollWrapper, DIV.media_thumbs
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
DIV.scrollableArea, UL.thumbnav
{
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
}
#makeMeScrollable
{
	width: 100%;
	position: relative;
	overflow: hidden;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
#makeMeScrollable A
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
#makeMeScrollable DIV.scrollableArea IMG
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
#thumbnavscrollerable
{
	width: 100%;
	height: 130px;
	position: relative;
	background: url(#A);
	z-index: 50000;
}
.galsize_thumbnail #thumbnavscrollerable
{
	height: 62px;
	width: 360px;
}
.galsize_medium #thumbnavscrollerable
{
	height: 92px;
	width: 460px;
}
.galsize_large #thumbnavscrollerable
{
	height: 112px;
	width: 880px;
}
#thumbnavscrollerable DIV.media_thumbs
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
#thumbnavscrollerable UL.thumbnav
{
	position: relative;
	width: auto;
	float: left;
	margin: 0;
}
#thumbnavscrollerable UL.thumbnav LI
{
	position: relative;
	clear: none;
	float: left;
	display: inline-block;
	border-bottom: none !important;
	list-style: none inside;
}
#thumbnavscrollerable UL.thumbnav A
{
	position: relative;
	clear: none;
	outline: none;
}
.galsize_medium UL.thumbnav IMG
{
	position: relative;
	margin: 0;
	clear: none;
}
.galsize_thumbnail UL.thumbnav IMG
{
	position: relative;
	margin: 0;
	clear: none;
	padding: 6px 7px 6px 0;
}
.galsize_medium UL.thumbnav IMG
{
	padding: 9px 9px 9px 0;
}
.galsize_large UL.thumbnav IMG
{
	position: relative;
	margin: 0;
	clear: none;
	padding: 8px 8px 8px 0;
}
/*FANCYTRANSITIONS*/
#fancytransitions
{
	margin: 0 auto;
	background: #000000 url(#A17070z);
	border: 1px solid #000000;
	/*+box-shadow:4px 4px 8px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
}
#ft-buttons-fancytransitions
{
	margin: 0 auto 10px;
	background: #000000 url(#A17070z);
	border: 1px solid #000000;
	text-align: left !important;
	/*+box-shadow:4px 4px 8px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
}
.ft-title
{
	display: block;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}
.ft-next, .ft-prev
{
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding: 0px 10px;
}
.ft-button-fancytransitions
{
	display: inline-block;
	outline: none;
	height: 8px;
	width: 8px;
	padding: 0;
	text-indent: 9999px;
	background: url(./../images/bullets/grey.png) no-repeat center;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.ft-button-fancytransitions:hover
{
	display: inline-block;
	outline: none;
	height: 8px;
	width: 8px;
	padding: 0;
	text-indent: 9999px;
	background: url(./../images/bullets/orange.png) no-repeat center;
}
#ft-buttons-fancytransitions .ft-button-fancytransitions-active
{
	background: url(./../images/bullets/blue.png) no-repeat center;
}
/*COINSLIDER*/
.coin-slider
{
	overflow: hidden;
	zoom: 1;
	position: relative;
	margin: 10px auto;
	background: #000000 url(#A17070z);
	width: 540px;
	padding: 5px;
	border: 1px solid #000000;
	/*+box-shadow:4px 4px 8px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
}
.coin-slider H3
{
	overflow: hidden;
	zoom: 1;
	position: relative;
	width: 540px;
	font-size: 11px;
}
.coin-slider A
{
	text-decoration: none;
	outline: none;
	border: none;
	color: #FFFFFF;
}
.cs-buttons
{
	font-size: 0px;
	padding: 10px;
	float: left;
}
.cs-buttons A
{
	margin-left: 5px;
	height: 10px;
	width: 10px;
	float: left;
	text-indent: -1000px;
	background: url(./../images/bullets/grey.png);
}
.cs-buttons A.cs-active
{
	color: #FFFFFF;
	background: url(./../images/bullets/green.png);
}
.cs-title
{
	width: 100%;
	text-align: center;
	background-color: #000000;
	padding-top: 10px;
	color: #FFFFFF;
}
.cs-prev, .cs-next
{
	background-color: #000000;
	color: #FFFFFF;
	padding: 0px 10px;
}
/*FANCYBOX*/
#fancybox-loading
{
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 81104;
	display: none;
}
* HTML #fancybox-loading
{
/*IE6*/
	position: absolute;
	margin-top: 0;
}
#fancybox-loading DIV
{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(./../images/fancybox/fancybox.png);
}
#fancybox-overlay
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 81100;
	display: none;
}
* HTML #fancybox-overlay
{
/*IE6*/
	position: absolute;
	width: 100%;
}
#fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 81101;
	display: none;
}
#fancybox-outer
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
}
#fancybox-inner
{
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}
#fancybox-hide-sel-frame
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
#fancybox-close
{
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px 0px;
	cursor: pointer;
	z-index: 81103;
	display: none;
}
#fancybox_error
{
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}
#fancybox-content
{
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}
#fancybox-img
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}
#fancybox-frame
{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}
#fancybox-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 81102;
}
.fancybox-title-inside
{
	padding: 10px 0;
	text-align: center;
	color: #333;
}
.fancybox-title-outside
{
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}
.fancybox-title-over
{
	color: #FFF;
	text-align: left;
}
#fancybox-title-over
{
	padding: 10px;
	background-image: url(./../images/fancybox/fancy_title_over.png);
	display: block;
}
#fancybox-title-wrap
{
	display: inline-block;
}
#fancybox-title-wrap SPAN
{
	height: 32px;
	float: left;
}
#fancybox-title-left
{
	padding-left: 15px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -90px;
	background-repeat: no-repeat;
	width: 0px;
	height: 0px;
}
#fancybox-title-main
{
	font-weight: bold;
	line-height: 29px;
	background-image: url(./../images/fancybox/fancybox-x.png);
	background-position: 0px -40px;
	color: #FFF;
	border-left: 1px solid #000000;
}
#fancybox-title-right
{
	padding-left: 15px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -55px -90px;
	background-repeat: no-repeat;
}
#fancybox-left, #fancybox-right
{
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url(./../images/fancybox/blank.gif);
	z-index: 81102;
	display: none;
}
#fancybox-left
{
	left: 0px;
}
#fancybox-right
{
	right: 0px;
}
#fancybox-left-ico, #fancybox-right-ico
{
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 81102;
	display: block;
}
#fancybox-left-ico
{
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -30px;
}
#fancybox-right-ico
{
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover
{
	visibility: visible;
/*IE6*/
}
#fancybox-left:hover SPAN
{
	left: 20px;
}
#fancybox-right:hover SPAN
{
	left: auto;
	right: 20px;
}
.fancy-bg
{
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 81001;
}
#fancy-bg-n
{
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url(./../images/fancybox/fancybox-x.png);
}
#fancy-bg-ne
{
	top: -20px;
	right: -20px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -162px;
}
#fancy-bg-e
{
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url(./../images/fancybox/fancybox-y.png);
	background-position: -20px 0px;
}
#fancy-bg-se
{
	bottom: -20px;
	right: -20px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -182px;
}
#fancy-bg-s
{
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url(./../images/fancybox/fancybox-x.png);
	background-position: 0px -20px;
}
#fancy-bg-sw
{
	bottom: -20px;
	left: -20px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -142px;
}
#fancy-bg-w
{
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url(./../images/fancybox/fancybox-y.png);
}
#fancy-bg-nw
{
	top: -20px;
	left: -20px;
	background-image: url(./../images/fancybox/fancybox.png);
	background-position: -40px -122px;
}
/*FANCYBOX IE*/
#fancybox-loading.fancybox-ie DIV
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-close
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-title-over
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
	zoom: 1;
}
.fancybox-ie #fancybox-title-left
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-title-main
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-title-right
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-left-ico
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-right-ico
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
}
.fancybox-ie .fancy-bg
{
	background: transparent !important;
}
.fancybox-ie #fancy-bg-n
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-ne
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-e
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-se
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-s
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-sw
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-w
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancy-bg-nw
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}
/*ANYTHING SLIDER*/
DIV.anythingSlider
{
	position: relative;
	width: 700px;
	height: 390px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 35px;
	background: #101010;
	border: 1px solid #717171;
	/*+border-radius:0;*/
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0 0 0 0;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
	/*+box-shadow:1px 10px 16px rgba(0, 0, 0, 0.5);*/
	-moz-box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
}
DIV.as-box
{
	background: #101010;
	padding: 10px 3px;
}
DIV.as-title
{
	padding: 0;
	margin: 0;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
DIV.as-title H3
{
	color: #FFF;
	font-size: 19px;
	line-height: 1;
	margin: 0;
	text-indent: 5px;
}
DIV.as-content
{
	font-size: 12px;
	padding: 0 5px;
	color: #968D8D;
}
DIV.anythingSlider .anythingWindow
{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
UL.anythingBase
{
	background: #101010;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
UL.anythingBase LI.panel
{
	background: transparent;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
DIV.anythingSlider LI
{
	clear: none;
}
DIV.anythingSlider .arrow
{
	top: 50%;
	position: absolute;
	display: block;
	z-index: 10000000;
}
DIV.anythingSlider .arrow A
{
	display: block;
	height: 120px;
	margin: -60px 0 0;
	width: 45px;
	text-align: center;
	outline: 0;
	background: url(./../images/anythingslider/arrows-default.png) no-repeat;
	text-indent: -9999px;
}
DIV.anythingSlider .forward
{
	right: 0;
	/*[empty]background:;*/
}
DIV.anythingSlider .back
{
	left: 0;
}
DIV.anythingSlider .forward A
{
	background-position: -1px -39px;
}
DIV.anythingSlider .back A
{
	background-position: -88px -40px;
}
DIV.anythingSlider .forward A:hover, DIV.anythingSlider .forward A.hover
{
	background-position: 11px -245px;
}
DIV.anythingSlider .back A:hover, DIV.anythingSlider .back A.hover
{
	background-position: -101px -244px;
}
DIV.anythingSlider .anythingControls
{
	outline: 0;
	background: url(./../images/gradient/black70.png);
	margin: 0;
	padding: 5px 0px;
	width: 100%;
	/*+placement:anchor-bottom-left 0px 0px;*/
	position: absolute;
	left: 0px;
	bottom: 0px;
}
DIV.anythingSlider.activeSlider .thumbNav A
{
}
DIV.anythingSlider.activeSlider .thumbNav A.cur
{
	color: #1A1A1A;
}
DIV.anythingSlider .thumbNav
{
	width: 90%;
	margin: 0 auto 0 5px;
}
DIV.anythingSlider .thumbNav LI
{
	display: inline;
	height: 18px;
}
DIV.anythingSlider .thumbNav A
{
	display: inline-block;
	text-decoration: none;
	padding: 3px 3px 3px 9px;
	height: 18px;
	text-align: center;
	color: #FFFFFF;
	outline: none;
	width: 4px;
	height: 12px;
	text-indent: -9999em;
	background: url(./../images/anythingslider/button.png) no-repeat center;
}
DIV.anythingSlider .thumbNav A:hover
{
	background: url(./../images/anythingslider/buttonon.png) no-repeat center;
}
DIV.anythingSlider.activeSlider .thumbNav A.cur
{
	background: url(./../images/anythingslider/buttonon.png) no-repeat center;
}
DIV.anythingSlider.rtl .thumbNav A
{
	float: right;
}
DIV.anythingSlider.rtl .thumbNav
{
	float: right;
}
DIV.anythingSlider .start-stop
{
	padding: 5px;
	background: #69BD1B;
	color: #444;
	font-size: 10px;
	margin: 2%;
	line-height: 6px;
	font-style: italic;
	height: 8px;
	text-align: center;
	text-decoration: none;
	z-index: 100;
	width: 5%;
	outline: 0;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	/*+placement:anchor-top-right -5px 5px;*/
	position: absolute;
	right: -5px;
	top: 5px;
}
DIV.anythingSlider .start-stop.playing
{
	background: #B28;
	color: #FFFFFF;
}
DIV.anythingSlider .start-stop:hover, DIV.anythingSlider .start-stop.hover
{
	color: #333;
}
DIV.anythingSlider .start-stop:hover, DIV.anythingSlider .start-stop.hover
{
	background-image: none;
}
/*ORBIT*/
DIV.orbit
{
	margin: 10px;
	width: 1px;
	height: 1px;
	position: relative;
	overflow: hidden;
	border: 1px solid #717171;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
}
DIV.orbit IMG
{
	position: absolute;
	top: 0;
	left: 0;
}
DIV.orbit A IMG
{
	border: none;
}
/*TIMER*/
DIV.timer
{
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: .6;
	cursor: pointer;
	z-index: 1001;
}
SPAN.rotator
{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: -20px;
	background: url('./../images/orbit/rotator-black.png') no-repeat;
	z-index: 3;
}
SPAN.mask
{
	display: block;
	width: 20px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}
SPAN.rotator.move
{
	left: 0;
}
SPAN.mask.move
{
	width: 40px;
	left: 0;
	background: url('./../images/orbit/timer-black.png') repeat 0px 0px;
}
SPAN.pause
{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0px;
	background: url('./../images/orbit/pause-black.png') no-repeat;
	z-index: 4;
	opacity: 0;
}
DIV.timer:hover SPAN.pause, SPAN.pause.active, DIV.timer:hover SPAN.pause.active
{
	opacity: 1;
}
/*CAPTIONS*/
DIV.caption
{
	background: #000;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	z-index: 1000;
	position: absolute;
	bottom: -100px;
	color: #FFF;
	padding: 8px 0;
}
DIV.caption SPAN
{
	padding: 0 10px;
	font-size: 14px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
	margin: 0;
}
.orbit-caption
{
	display: none;
}
/*DIRECTIONAL NAV*/
DIV.orbit:hover DIV.slider-nav
{
	display: block;
}
DIV.slider-nav
{
	display: none;
}
DIV.slider-nav SPAN
{
	width: 33px;
	height: 33px;
	text-indent: -9999px;
	position: absolute;
	z-index: 1000;
	top: 43%;
	cursor: pointer;
}
DIV.slider-nav SPAN.right
{
	background: url('./../images/orbit/right-arrow.png');
	right: 10px;
}
DIV.slider-nav SPAN.left
{
	background: url('./../images/orbit/left-arrow.png');
	left: 10px;
}
/*BULLET NAV*/
.orbit-bullets
{
	position: absolute;
	z-index: 1000;
	list-style: none;
	top: 5px;
	left: -24px;
	margin: 0;
	padding: 6px;
	background: #C7C7C7;
	/*[empty]opacity:;*/
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*+box-shadow:4px 4px 8px rgba(0, 0, 0, 0.45);*/
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	-o-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
}
.orbit-bullets LI
{
	float: left;
	clear: none !important;
	margin-left: 5px;
	cursor: pointer;
	color: #999;
	text-indent: -9999px;
	background: url(./../images/orbit/bullets.png) no-repeat;
	width: 7px;
	height: 7px;
	overflow: hidden;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
.orbit-bullets LI.active
{
	color: #222;
	background-position: -7px 0;
}
