/*------- 404.PHP -------*/
#errorpage
{
	background: #DEF;
}
#errormessage
{
	background: #FFF;
	width: 800px;
	/*[disabled]height:300px;*/
	margin: 40px auto;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	border: 14px solid #ACC0D4;
	/*+box-shadow:5px 7px 10px #839AB0;*/
	-moz-box-shadow: 5px 7px 10px #839AB0;
	-webkit-box-shadow: 5px 7px 10px #839AB0;
	-o-box-shadow: 5px 7px 10px #839AB0;
	box-shadow: 5px 7px 10px #839AB0;
}
#errormessage H2
{
	text-transform: uppercase;
	margin: 10px;
	/*[disabled]float:left;*/
	padding: 5px 10px;
	letter-spacing: -2px;
	background: #E9E9E9;
	border: 1px solid #DBCECE;
	font-weight: 800;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
/*------- INDEX.PHP -------
------- IMAGE.PHP -------
------- PAGE.PHP -------*/
.page-template-default #primary
{
	width: 940px;
}
/*------- SINGLE.PHP -------
------- PAGE STYLE CARRYOVER*/
#page_template_default #primary
{
	float: left;
	width: 940px;
	padding-right: 0;
}
#page_gallery_template #primary
{
	float: left;
	margin: 15px auto;
	clear: both;
	width: auto;
}
