/*
Theme Name: theFoundation Theme Framework
Theme URI: http: //www.theFOUNDATIONthemes.com
Description: A Theme Framework by BaoQuoc Doan
Author: BaoQuoc Doan
Author URI: http://www.thefoundationthemes.com
Template: thefoundation
Version: 0.2 (Imhotep)
Tags: custom menu, two columns, three columns, left sidebar, right sidebar, fixed-width, post-formats, theme-options, threaded-comments
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.txt
*/

/*------- WORDPRESS CLASSES -------*/
.sticky
{
	background: #CCCCCC;
}
.bypostauthor
{
	display: inline;
}
.aligncenter, DIV.aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft
{
	float: left;
}
.alignright
{
	float: right;
}
.wp-caption
{
	background-color: #F3F3F3;
	border: 1px solid #DDD;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
/*optional rounded corners for browsers that support it*/
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption IMG
{
	border: 0 none #000000;
	margin: 0;
	padding: 0;
}
.wp-caption P.wp-caption-text
{
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
