/*
Theme Name: Foodstory
Theme URI: http://thefoundation.foodshelterlove.com
Description: Ugly Fish is Child Theme Template for theFoundation Theme Framework.  It created to assist in developing new child themes for theFoundation. Please Read Documentation for further details.
Author: Mr. Wok
Template: thefoundation
Version: version 1.0 (Ugly Fish)

------- DEFAULT XHTML TAG SETTINGS -------*/
BODY
{
	background: #010101;
	color: #000;
}
INPUT, TEXTAREA
{
	outline: 1 solid #000000;
	border: 1px solid #D0D0D0;
	background: #FFF;
	padding: 5px;
	margin-bottom: 5px;
}
HR
{
	margin: 0;
	border-style: none;
	clear: both;
}
BLOCKQUOTE
{
	padding: 10px;
	border: 1px solid #DDDDDD;
}
ADDRESS
{
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background: #FF0F0F;
}
P
{
	margin-bottom: 5px;
}
DL
{
}
DL DT
{
}
DL DD
{
	padding-left: 10px;
}
/*------- WORDPRESS CLASSES -------*/
.sticky
{

	padding: 0px;
	margin-top: 10px;
}
.sticky .itemhead, .sticky .itemtext .sharing{
	display: none;
}
.bypostauthor
{
	display: inline;
}
.aligncenter, DIV.aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft
{
	float: left;
}
.alignright
{
	float: right;
}
.wp-caption
{
	background-color: #F3F3F3;
	border: 1px solid #DDD;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
/*optional rounded corners for browsers that support it*/
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption IMG
{
	border: 0 none #000000;
	margin: 0;
	padding: 0;
}
.wp-caption P.wp-caption-text
{
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
/*WordPress template default classes*/
.categories
{
}
.cat-item
{
}
.current-cat
{
}
.current-cat-parent
{
}
.children
{
}
.pagenav
{
}
.page_item
{
}
.current_page_item
{
}
.current_page_parent
{
}
.current_page_ancestor
{
}
.widget
{
}
.widget_text
{
}
.blogroll
{
}
.linkcat
{
}
