BODY
{
	font: 12px/1.5 Helvetica, Arial, sans-serif;
}
/*Change Default Colors*/
A:link, A:visited
{
	color: #111;
}
A:hover, A:active
{
	color: #555;
}
A:focus
{
}
HR
{
	border: 0 solid #CCC;
	border-top-width: 1px;
	clear: both;
	height: 0;
}
/*`Headings
----------------------------------------------------------------------------------------------------*/
H1, H2, H3, H4, H5, H6
{
	color: #020202;
}
H1
{
	font-size: 25px;
}
H2
{
	font-size: 23px;
}
H3
{
	font-size: 21px;
}
H4
{
	font-size: 19px;
}
H5
{
	font-size: 17px;
}
H6
{
	font-size: 15px;
}
/*`Spacing
----------------------------------------------------------------------------------------------------*/
OL
{
	list-style: decimal;
}
UL
{
	list-style: square;
}
LI
{
	list-style-type: none;
	list-style-position: outside;
}
